<launch>
  <arg name="suffix"                default=""/>
  <arg name="visualizations"        default="true"/>
  <arg name="input_topic"           default="/elevation_mapping/elevation_map_raw_filtered"/>
 
  <arg name="visualizations_config" default="$(find grid_map_filters_drs)/config/visualizations_example.yaml"/>

  <!-- Launch the grid map visualizer. -->
  <node if="$(arg visualizations)" pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <!-- Input topic -->
    <param name="grid_map_topic" value="$(arg input_topic)" />

    <!-- Load visualizations configuration -->
    <rosparam command="load" file="$(arg visualizations_config)" />
  </node>

</launch>
